
.filter-section {
    padding-top: 25px;
}

.filter-tab, .filter-tab--open{
    display: block;
    width: max(45%, 107px);
}

.filter-items {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.collapsible-button {
    width: max(45%, 107px);
    background-color: #03a9f4;
    border-radius: 5px;
    text-align: left;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    padding: calc(.5rem - 1px) calc(1rem - 1px);
}

.collapsible-button:hover {
    background-color: #0089c8;
}

.active-spirit {
    background-color: #006ea1;
}

.active-glass {
    background-color: #006ea1;
}