
.filter-section {
    padding-top: 25px;
}

.filter-tab, .filter-tab--open{
    display: block;
    width: 50%;
}

.filter-items {
    display: flex;
    flex-direction: column;
}

.active {
    
}

.collapsible-button {
    width: 50%;
    background-color: #03a9f4;
    border-radius: 5px;
    text-align: left;
}
