@import "./styles/Header.css";
@import "./styles/Search.css";
@import "./styles/Filter.css";
@import "./styles/collapsible.css";

:root {
    caret-color: transparent;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

.body-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-section {
    grid-column-start: 2;
    grid-column-end: 5;
}

/* for media less than 800px wide */
@media (max-width: 800px) {
    .main-section {
        grid-column-end: 6;
        padding-right: 5px;
    }
}