@import "./styles/Header.css";
@import "./styles/Search.css";
@import "./styles/Filter.css";
@import "./styles/collapsible.css";

:root {
    caret-color: transparent;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

.body-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}